/*
 * General format of header and styling follows this tutorial: https://www.youtube.com/watch?v=DQfeB_FKKkc&t=5317s, but slightly adjusted.
 * In general we are just copying Tinder's layout
*/
body {
    display: flex;
    flex-direction: column;
}

.entry {
    position: relative;
    width: 40vw;
    padding: 20px;
    min-width: 500px;
    height: 100px;
    border-radius: 10px;
    border-style: solid;
    border-width: 3px;
}

.entry > h3 {
    font-size: x-large;
    position: absolute;
    top: 10px;
    color: black;
}

.entry > h4 {
    font-size: smaller;
    position: absolute;
    top: 50px;
    color: black;
}

.SavedList___container {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 5vh;
    overflow: auto;
    height: 70vh;
}

.cover {
    right: 5px;
    max-height: 90px;
}

.box {
    position: relative;
}